@import "../../../public/variables";
@import "../../../public/mixins";

.buttons-panel {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.btn {
  &:active {
    transform: translateY(4px);
  }
  @include button-styles(
    $button-small,
    $button-primary-color,
    #fff,
    $button-small,
    $border-radius-medium
  );
  @include text-styles($text-large, $text-primary-color);
  display: flex;
  align-items: center;
}
