.header {
    background-color: #7174db;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}

.header-content {
    text-align: center;
    font-size: 24px;
}

.header h1 {
    margin: 0;
}