@mixin button-styles($button-height, $background-color, $color, $button-padding, $border-radius) {
    height: $button-height;
    background-color: $background-color;
    color: $color;
    padding: $button-padding;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($background-color, 10%);
    }

    &:active {
        background-color: darken($background-color, 20%);
    }
}

@mixin text-styles($font-size, $color) {
    font-size: $font-size;
    color: $color;
}

@mixin input-styles($input-width, $input-border-color, $border-radius) {
    width: $input-width;
    border-color: $input-border-color;
    border-radius: $border-radius;
}

@mixin select-styles($select-width, $select-border-color, $select-radius) {
    appearance: none;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid $select-border-color;
    border-radius: 5px;
    width: $select-width;
}