// button colors
$button-primary-color: #599adf;
$button-secondary-color: #fefffd;
$button-danger-color: #dc3545;

// button sizes
$button-small: 20px;
$button-medium: 40px;
$button-large: 50px;

//border radiuses
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;

// text sizes
$text-small: 14px;
$text-medium: 16px;
$text-large: 20px;
$text-extra-large: 24px;

// test colors
$text-primary-color: #fff;
$text-secondary-color: #666;
$text-accent-color: #007bff;
$text-main-color:  #599adf;
// input sizes
$input-small: 35px;
$input-medium: 50px;
$input-large: 100px;

$input-border-color: #1d5da1;
$input-background-color: #fff;
$input-text-color: #333;
$input-placeholder-color: #999;

// select sizes
$select-small: 35px;
$select-medium: 50px;
$select-large: 75px;
