$button-primary-color: #599adf;
$button-secondary-color: #818c96;
$button-success-color: #63d87e;
$button-danger-color: #dc3545;

$button-small: 30px;
$button-medium: 40px;
$button-large: 50px;

$button-border-radius: 5px;